@import url("chrome://messenger/content/unifiedtoolbar/unifiedToolbarWebextensions.css");
@namespace html url("http://www.w3.org/1999/xhtml");

/* Position Menu Bar, Unified Toolbar and Tab Bar in different order */    
toolbar-menubar { 
	order: 1;
}
tabs-toolbar {
	order: 2;
}
unified-toolbar {
	order: 3;
}

/*  Message List - slightly lighter grey striping (for default dark theme) */
#threadTree tr:nth-child(2n) {
	background-color: #1d1d21 !important;
}

/* threads pane selected row on even grey rows (default dark theme) */
#threadTree tr:nth-child(2n).selected,
#threadTree tr:nth-child(2n).selected:hover,
#threadTree tr:nth-child(2n):hover,
#threadTree tr.selected,
#threadTree tr.selected:hover,
#threadTree tr:hover {
	background-color: #1a3046 !important; /*default dark selection blue*/
} 

/* move titlebar buttons to top right */
/*.titlebar-buttonbox-container {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 19px !important;
}*/
